<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Passwords</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome</h1>
            <br>
            <form action="/" method="POST">
                Please enter the password <input type="password" placeholder="enter Password" name="password"><br><br>
                <button>Submit</button>
            </form>
            
        </div>
    </div>
    
</body>

</html>